/* .form-container {
	gap: 0.5rem;
	border-bottom: 1px solid var(--border-line);
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
} */
dialog {
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	background-color: rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 100%;
	backdrop-filter: blur(10px);
	z-index: 80;
}
.form-container-dialog {
	background-color: rgba(0, 0, 0, 0.75);
	position: relative;
	top: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 2rem;
	border-radius: 1rem;
	flex-wrap: wrap;
	z-index: 60;
	color: white;
}

input,
textarea {
	width: 100%;
	/* padding: 0.25rem; */
	border-radius: 0.5rem;
	border: none;
	color: black;
	padding: 0.5rem;
}

textarea {
	max-height: 10rem;
	min-height: 8rem;
}

/* loader */
.loader {
	transform: rotateZ(45deg);
	perspective: 1000px;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	color: #fff;
}
.loader:before,
.loader:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	transform: rotateX(70deg);
	animation: 1s spin2 linear infinite;
}
.loader:after {
	color: #ff3d00;
	transform: rotateY(70deg);
	animation-delay: 0.4s;
}

@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotateZ(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotateZ(360deg);
	}
}

@keyframes rotateccw {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
}

@keyframes spin2 {
	0%,
	100% {
		box-shadow: 0.2em 0px 0 0px currentcolor;
	}
	12% {
		box-shadow: 0.2em 0.2em 0 0 currentcolor;
	}
	25% {
		box-shadow: 0 0.2em 0 0px currentcolor;
	}
	37% {
		box-shadow: -0.2em 0.2em 0 0 currentcolor;
	}
	50% {
		box-shadow: -0.2em 0 0 0 currentcolor;
	}
	62% {
		box-shadow: -0.2em -0.2em 0 0 currentcolor;
	}
	75% {
		box-shadow: 0px -0.2em 0 0 currentcolor;
	}
	87% {
		box-shadow: 0.2em -0.2em 0 0 currentcolor;
	}
}
/* loader  */
