---
import { Image } from "astro:assets";
import roll_1 from "../../img/roll_1.jpg";
---

<section class="h-full md:min-h-screen bg-[--primary]" id="FirstSection">
	<article
		class="max-w-[1200px] flex flex-col md:flex-row justify-between items-center mx-auto pt-12 md:pt-0">
		<div class="flex items-start justify-around flex-col">
			<h2
				class="font-[--text1] text-[--secondary] text-5xl md:text-6xl pb-10 px-2 md:px-0"
				id="text">
				NUESTRO SUSHI:
			</h2>
			<p
				class="font-extralight text-[--secondary] text-sm max-w-[50ch] opacity-60 leading-7 pb-5 md:pb-0 px-2 md:px-0"
				id="text2">
				Contamos con una gran variedad de Rolls, desde los makis mas
				clásicos a nuestros Rolls de autor nikkei. ¿Qué es la comida
				nikkei? Se trata de la fusión de dos gastronomías: la japonesa y
				la peruana. El roll que vemos a nuestra derecha es un claro
				ejemplo de esta fusión. Uramaki relleno de salmón fresco
				premium, piña asada, queso pila, coronado con salmón flameado
				dressing, mayo maracuyá y quinoa crocante.
			</p>
		</div>
		<Image
			src={roll_1}
			class="max-h-[350px] md:max-h-[600px] w-full object-cover object-center max-w-[530px]"
			alt="roll_1 picture"
		/>
	</article>
	<div id="bg-image"></div>
</section>

<style>
	#bg-image {
		position: fixed;
		background-image: url("../../img/logo_beishe_logo.png");
		background-size: 75%;
		background-repeat: no-repeat;
		background-position: center;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0.02;
		z-index: 0;
	}
	#text {
		font-family: var(--text2);
	}
	#tetx2 {
		font-family: var(--text1);
	}
</style>
