---
import upArrow from "../../icons/upArrow.svg";
---

<footer class="bg-[#abd58a] pt-20 text-[--secondary] relative z-10">
	<!-- color foooter #262626 -->
	<a
		href="#top"
		class="bg-[--secondary] p-2 rounded-full absolute right-5 top-5 max-w-12 hover:scale-105 transition">
		<img src={upArrow.src} class="" alt="arrow icon" />
	</a>
	<div class="w-full max-w-[1200px] mx-auto">
		<div
			class="grid grid-cols-2 md:place-items-center text-start px-8 py-6 lg:py-8 md:grid-cols-4">
			<div>
				<h2 class="mb-6 text-xl opacity-50 text-start md:pb-5">
					Company
				</h2>
				<ul class="text-sm text-start font-extralight">
					<li class="mb-4">
						<a href="#" class="hover:underline">About</a>
					</li>
					<li class="mb-4">
						<a href="#" class="hover:underline">Careers</a>
					</li>
					<li class="mb-4">
						<a href="#" class="hover:underline">Brand Center</a>
					</li>
					<li class="mb-4">
						<a href="#" class="hover:underline">Blog</a>
					</li>
				</ul>
			</div>
			<div>
				<h2 class="mb-6 text-xl opacity-50 text-start md:pb-5">
					Help center
				</h2>
				<ul class="text-sm text-start font-extralight">
					<li class="mb-4">
						<a href="#" class="hover:underline">Discord Server</a>
					</li>
					<li class="mb-4">
						<a href="#" class="hover:underline">Twitter</a>
					</li>
					<li class="mb-4">
						<a href="#" class="hover:underline">Facebook</a>
					</li>
					<li class="mb-4">
						<a href="#" class="hover:underline">Contact Us</a>
					</li>
				</ul>
			</div>
			<div>
				<h2 class="mb-6 text-xl opacity-50 text-start md:pb-5">
					Legal
				</h2>
				<ul class="text-sm text-start font-extralight">
					<li class="mb-4">
						<a href="#" class="hover:underline">Privacy Policy</a>
					</li>
					<li class="mb-4">
						<a href="#" class="hover:underline">Conditions </a>
					</li>
					<li class="mb-4">
						<a href="#" class="hover:underline">Licensing</a>
					</li>
					<li class="mb-4">
						<a href="#" class="hover:underline"
							>Terms &amp; Conditions</a
						>
					</li>
				</ul>
			</div>
			<div>
				<h2 class="mb-6 text-xl opacity-50 text-start md:pb-5">
					Download
				</h2>
				<ul class="text-sm text-start font-extralight">
					<li class="mb-4">
						<a href="#" class="hover:underline">iOS</a>
					</li>
					<li class="mb-4">
						<a href="#" class="hover:underline">Android</a>
					</li>
					<li class="mb-4">
						<a href="#" class="hover:underline">Windows</a>
					</li>
					<li class="mb-4">
						<a href="#" class="hover:underline">MacOS</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="px-4 py-6 md:flex md:items-center textstify-between">
			<span class="text-xs sm:text-center"
				>© 2024 <a href="https://flowbite.com/">Rhino™</a>. All Rights
				Reserved.
			</span>
		</div>
	</div>
</footer>
