---
import { Image } from "astro:assets";
import sashimi from "../../img/sashimi.jpg";
import osaka_roll from "../../img/osaka_roll.jpg";
---

<section class="h-full md:min-h-screen bg-[--primary]" id="FirstSection">
	<article
		class="max-w-[1200px] flex flex-col-reverse md:flex-row justify-between mx-auto pt-12 md:pt-0">
		<Image
			src={sashimi}
			class="h-[350px] md:h-[600px] object-cover object-center max-w-[530px] pt-1 md:pt-0 w-full"
			alt="sashimi picture"
		/>
		<div class="flex flex-col justify-between">
			<h2
				class="font-[--text1] text-[--secondary] text-5xl md:text-6xl pb-10"
				id="text">
				Nuestros Pokes:
			</h2>
			<p
				class="font-extralight text-[--secondary] text-sm max-w-[50ch] opacity-60 leading-7 pb-5 md:pb-0"
				id="text2">
				Las mejores opciones para armar a tu gusto la ensalada perfecta.
				Todas las opciones de proteínas, vegetales, toppings y salsas
				para que puedas variar todos los días y no aburrirte nunca!
			</p>
			<Image
				src={osaka_roll}
				class="max-h-[350px] md:max-h-[600px] w-full object-cover object-center max-w-[530px]"
				alt="osaka_roll picture"
			/>
		</div>
	</article>
</section>

<style>
	img {
		animation: fade linear both;
		animation-timeline: view();
		animation-range: entry 20% cover 30%;
	}
	@media (width > 800px) {
		@keyframes fade {
			from {
				scale: 0.75;
				transform: translateY(300px);
				opacity: 0.5;
			}
			to {
				scale: 1;
				transform: translateY(0);
				opacity: 1;
			}
		}
	}
	#text {
		font-family: var(--text2);
	}
	#tetx2 {
		font-family: var(--text1);
	}
</style>
