---
import { Image } from "astro:assets";
import sashimi from "../../img/sashimi.jpg";
import osaka_roll from "../../img/osaka_roll.jpg";
---

<section class="h-full md:min-h-screen bg-[--primary]" id="FirstSection">
	<article
		class="max-w-[1200px] flex flex-col-reverse md:flex-row justify-between mx-auto pt-12 md:pt-0">
		<Image
			src={sashimi}
			class="h-[350px] md:h-[600px] object-cover object-center max-w-[530px] pt-1 md:pt-0 w-full"
			alt="sashimi picture"
		/>
		<div class="flex flex-col justify-between">
			<p
				class="font-extralight text-[--secondary] text-sm max-w-[50ch] opacity-60 leading-7 pb-5 md:pb-0 p-2 md:p-0"
				id="text2">
				En los <strong>restaurantes Sushi App</strong> encontrarás un nuevo
				concepto de comida japonesa, donde tradición y originalidad se fusionan
				para dar lugar a los platos más apetecibles de sushi y mucho más.
			</p>
			<p class="text-[--secondary] p-2 md:p-0">
				<strong>¡Descubre nuestro Urban Sushi Bar!</strong>
			</p>
			<Image
				src={osaka_roll}
				class="max-h-[350px] md:max-h-[600px] w-full object-cover object-center max-w-[530px]"
				alt="osaka_roll picture"
			/>
		</div>
	</article>
</section>

<style>
	#text {
		font-family: var(--text2);
	}
	#tetx2 {
		font-family: var(--text1);
	}
</style>
