---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/sections/Footer.astro";
---

<script>
	import "transition-style";
</script>

<Layout title="Contacto">
	<section
		class="bg-[#292929] h-full w-full relative"
		transition-style="in:circle:center">
		<article id="article-one">
			<Header href2="/navbar" />
			<div
				class="flex items-center justify-start flex-col text-center h-full">
				<h2
					class="font-[--text1] text-[--secondary] text-6xl md:text-8xl pb-0 flex items-center justify-center my-10">
					Contacto
				</h2>
				<p
					class="font-light text-start md:text-center text-[--secondary] leading-8 md:leading-[2.5rem] md:text-xl max-w-[75ch] text-pretty md:pb-0 mx-4 brightness-110">
					<!-- create a text in contact section -->

					¿Tienes alguna duda, sugerencia o simplemente quieres decir
					hola? ¡Escríbenos! Estamos para ayudarte. O puedes
					encontrarnos en nuestras redes sociales.
				</p>
				<div class="flex gap-2 py-10">
					<a
						target="_blank"
						href="https://www.instagram.com/sushiapp/"
						class="bg-[--secondary] text-sm text-[--primary] px-6 py-3 rounded-full transition hover:scale-105 flex items-center justify-center font-light cursor-pointer w-fit gap-2 z-20 mb-4">
						Instagram</a
					>
					<a
						target="_blank"
						href="https://x.com/sushi_app?lang=es"
						class="bg-[--secondary] text-sm text-[--primary] px-6 py-3 rounded-full transition hover:scale-105 flex items-center justify-center font-light cursor-pointer w-fit gap-2 z-20 mb-4">
						Twitter
					</a>
				</div>
				<p
					class="font-light text-start md:text-center text-[--secondary] leading-8 md:leading-[2.5rem] md:text-xl max-w-[75ch] text-pretty md:pb-0 mx-4 brightness-110">
					O escribinos a : <br />
					<a
						href="mailto:ezequielstom@gmail.com"
						target="_blank"
						class="text-[#FFD700] hover:underline">
						info@sushiapp.com
					</a>
					<span class="px-2">o por </span>
					<!-- whatsapp -->
					<a
						href="https://wa.me/5491130777777"
						target="_blank"
						class="text-[#25D366] hover:underline">
						Whatsapp
					</a>
				</p>
			</div>
		</article>
	</section>
	<section class="bg-[--primary]">
		<Footer />
	</section>

	<style>
		h2 {
			font-family: var(--text2);
		}
		p {
			font-family: var(--text1);
		}
		#article-one {
			position: relative;
			height: 100vh;
			background-image: linear-gradient(
					rgba(0, 0, 0, 0.5),
					rgba(0, 0, 0, 0)
				),
				url("../img/image_hd_3_op.webp");
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		#article-one::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, transparent, 75%, #292929);
		}
	</style>
</Layout>
