---
import { Image } from "astro:assets";
import Header from "../components/Header.astro";
import logo from "../img/logo_verde_logo.png";
import Layout from "../layouts/Layout.astro";
import facebook2 from "../icons/facebook2.svg";
import instagram2 from "../icons/instagram2.svg";
import whatsapp2 from "../icons/whatsapp2.svg";
---

<script>
	import "transition-style";
</script>

<Layout title="Navbar">
	<section
		class="bg-[#292929] min-h-screen h-full md:min-h-screen w-full flex flex-col items-center justify-center">
		<article>
			<Header href2="/" />
			<div
				class="flex z-20 flex-col-reverse items-center justify-center max-w-[1200px] mt-12 mx-auto w-fit rounded-xl overflow-hidden"
				id="navbar">
				<div
					class="w-full rounded-xl z-50 h-full md:h-[450px] object-cover object-center flex items-center justify-center backdrop-blur-sm bg-[#292929] box">
					<div class="subbox relative">
						<Image
							src={logo}
							alt="image navbar"
							class="max-w-64 px-6 hidden md:block pt-2"
						/>
					</div>
					<div
						class="scene z-50 text-2xl md:text-[1.75rem] flex flex-col items-start justify-between h-full flex-1 rounded-r-lg">
						<span class="cube">
							<a href="/" class="side top">Inicio</a>
							<a href="/" class="side front">Inicio</a>
						</span>
						<span class="cube">
							<a href="/stores" class="side top">Locales</a>
							<a href="/stores" class="side front">Locales</a>
						</span>
						<span class="cube">
							<a href="/us" class="side top">Nosotros</a>
							<a href="/us" class="side front">Nosotros</a>
						</span>
						<span class="cube">
							<a href="/contact" class="side top">Contacto</a>
							<a href="/contact" class="side front">Contacto</a>
						</span>
					</div>
				</div>
			</div>

			<div
				class="absolute bottom-5 flex flex-col md:flex-row-reverse items-center justify-center my-5 max-w-[1200px] mx-auto w-full text-[--secondary] pt-10 opacity-50 gap-5">
				<span class="text-sm"
					>© 2024 <a href="/" class="hover:underline">Sushi App</a>.
					All Rights Reserved.
				</span>
				<div class="flex sm:justify-center sm:mt-0">
					<a
						href="https://www.facebook.com/sushiapp/"
						class=""
						target="_blank">
						<img src={facebook2.src} class="w-4 mx-2"  alt="">
						<span class="sr-only">Facebook page</span>
					</a>

					<a
						href="https://www.instagram.com/sushiapp/"
						class=""
						target="_blank">
						<img src={instagram2.src} class="w-4 mx-2" alt="">
							<span class="sr-only">Instagram page</span>
						</svg>
						<!-- 	 -->

						<a href="https://wa.me/5491130777777" target="_blank">
							<img src={whatsapp2.src} class="w-4 mx-2" alt="">
								<span class="sr-only">Whatsapp page</span>
							</svg>
						</a>
					</a>
				</div>
			</div>
		</article>

		<style>
			section {
				z-index: 2;
				position: relative;
				height: 100vh;
				background-image: linear-gradient(
						rgba(0, 0, 0, 0.5),
						rgba(0, 0, 0, 0.5)
					),
					url("../img/image_hd_6_op.webp");
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
			.subbox {
				background-image: url("../img/tateti.jpg");
				background-size: cover;
				background-position: center;
				height: 100%;
				width: 100%;
				position: relative;
			}
			section {
				position: relative;
				height: 100vh;
			}
			article {
				position: absolute;
				top: 0;
				left: 0;
				background-size: cover;
				width: 100%;
				height: 100vh;
				background-position: center;
				background-repeat: no-repeat;
				/* background-image: url("../img/image_hd_2_op.webp"); */
			}
			article::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					to bottom,
					transparent,
					75%,
					#292929
				);
			}

			.cube {
				color: var(--secondary);
				cursor: pointer;
				font-family: "Roboto", sans-serif;
				transition: all 0.85s cubic-bezier(0.17, 0.67, 0.14, 0.93);
				transform-style: preserve-3d;
				transform-origin: 100% 50%;
				width: 10em;
				height: 4em;
				background-color: #202020;
			}

			.cube:hover {
				transform: rotateX(-90deg);
			}

			.side {
				box-sizing: border-box;
				position: absolute;
				display: inline-block;
				height: 4em;
				width: 10em;
				text-align: center;
				text-transform: uppercase;
				padding-top: 1.5em;
				font-weight: bold;
			}

			.top {
				background: var(--secondary);
				color: #222229;
				transform: rotateX(90deg) translate3d(0, 0, 2em);
			}

			.front {
				transform: translate3d(0, 0, 2em);
			}
		</style>
	</section>
</Layout>
