---
import logo from "../img/amikasa-logo-sibuya.svg";
import logoGoogle from "../img/google-play-logo.svg";
import logoApple from "../img/app-store-logo.svg";
---

<section class="bg-[--primary] w-full min-h-[40vh] py-40">
	<article
		class="flex max-w-[1436px] items-center justify-between bg-[--secondary] px-24 rounded-3xl h-full mx-auto min-h-[240px] py-10">
		<div><img src={logo.src} class="w-40" alt="" /></div>
		<div class="font-light">
			<p>
				También puedes disfrutar de la experiencia Sibuya desde casa.
				Coge tu móvil,<br />
				<strong
					>descárgate la app AMIKASA y ¡descubre todas sus ventajas!</strong
				>
			</p>
		</div>
		<div>
			<button class=" border border-[--primary] px-4 py-2  rounded-xl"> <img class="w-24" src={logoGoogle.src} alt="app logo"> </button>
			<button class=" border border-[--primary] px-4 py-2  rounded-xl"> <img class="w-24" src={logoApple.src} alt="app logo"> </button>
		</div>
	</article>
</section>
