---
import logo from "../icons/logo.svg";
import sushi from "../icons/sushi.svg";
import CursorFollow from "../components/CursorFollow.jsx";
import StartButton from "../components/StartButton.astro";
interface HeaderProps {
	href2: string;
}
const { href2 } = Astro.props;
---

<header
	class=" h-[100px] p-6 max-w-full w-full flex justify-between items-center">
	<StartButton href={href2} />

	<a
		href="/"
		class="max-w-[150px] hidden md:block w-full z-20 fixed mx-auto left-0 right-0">
		<img src={logo.src} alt="logo icon" />
	</a>

	<div class="flex flex-grow basis-0 justify-end gap-1">
		<a
			class="bg-[#e6dcc9] ] text-sm text-[--primary] px-6 py-3 rounded-full transition hover:scale-105 flex items-center justify-center font-light cursor-pointer gap-2 z-20 fixed right-32 top-8">
			<img src={sushi.src} alt="sushi icon" class="max-w-6" />Hacer pedido</a
		>

		<span class="z-20 top-8 fixed">
			<CursorFollow client:load />
		</span>
	</div>
</header>

<style>
	/* @keyframes enhance-header {
		to {
			z-index: 100;
			position: fixed;
			width: 100%;
			top: 0rem;
			background: rgba(0, 0, 0, 0.5);
		}
	}
	header {
		animation: enhance-header linear both;
		animation-timeline: scroll(root);
		animation-range: 0 150px;
		width: 100%;
	} */
</style>
